<div class="view">
    <h1>Xomega SPA Help</h1>
    <p>
    The following resources will help you get started with Single Page Application development using Xomega.</p>
    <h2>Tutorials</h2>
    <ul>
        <li><a href="http://xomega.net/Tutorials/SPASolution.aspx">Build a SPA Application</a></li>
    </ul>
    <h2>Videos</h2>
    <ul>
        <li><a href="http://xomega.net/Videos/VideoTutorials.aspx?v=spademo">Building HTML5 Apps with Xomega.Net</a></li>
    </ul>
    <h2>How-to Guides</h2>
    <ul>
        <li><a href="http://xomega.net/Tutorials/HowTos.aspx">Xomega.Net How-To Guides</a></li>
    </ul>
</div>
